/* Icomoon Fonts */
@font-face {
	font-family: 'icomoon';
	src:  url('/fonts/icomoon/icomoon.eot?ragw5j');
	src:  url('/fonts/icomoon/icomoon.eot?ragw5j#iefix') format('embedded-opentype'),
	  url('/fonts/icomoon/icomoon.ttf?ragw5j') format('truetype'),
	  url('/fonts/icomoon/icomoon.woff?ragw5j') format('woff'),
	  url('/fonts/icomoon/icomoon.svg?ragw5j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.icon-map:before {
	content: "\e025";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-search:before {
	content: "\e900";
}
.icon-pen-angled:before {
	content: "\e901";
}
.icon-search1:before {
	content: "\e902";
}
.icon-add:before {
	content: "\e145";
}
.icon-close:before {
	content: "\e5cd";
}
.icon-check:before {
	content: "\e903";
}
.icon-filter:before {
	content: "\e904";
}
.icon-trash-2:before {
	content: "\e905";
}
.icon-star:before {
	content: "\f005";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-earth:before {
	content: "\e906";
}
.icon-filter1:before {
	content: "\e907";
}

/* Variabes */
$primary-color: #68A691;
$secondary-color: #9DB4C0;
$warning-color: #694F5D;
$gray-color: #ccc;
$white-color: #fff;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$font-family: 'Roboto', sans-serif;
$font-family-primary: 'Lato', sans-serif;

/* Media Queries */
@mixin for-desktop-s {
	@media (max-width: 1200px) {
	  @content;
	}
}
  
@mixin for-tablet {
	@media (max-width: 992px) {
	  @content;
	}
}
  
@mixin for-phone {
	@media (max-width: 768px) {
	  @content;
	}
}

/* General Styles */
* {
	box-sizing: border-box;
}
body {
	font-family: $font-family;
	font-size: 16px;
	margin: 0;
}
.wrapper {
	display: flex;
	display: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: $gray-color;
	height: 100vh;
}

/* Title */
.title--main {
	margin: 0;
	padding: 10px;
	font-style: italic;
	background: #fff8dc;
	text-align: center;
}

/* Map */
#map {
	height: 80vh;
}

.map {
	width: 75%;

	@include for-tablet {
		width: 60%;
	}
}

/* Places */
.places {
	width: 25%;
	background: $white-color;

	@include for-tablet {
		width: 40%;
	}

	.btn--add-place {
		width: 100%;
		margin: 0 auto;
	}

	&__form {
		max-width: 500px;
		margin: 0 auto;

		.input {
			display: block;
			margin: 0 0 10px;
			width: 100%;
			padding: 6px;
		}
		.textarea {
			resize: none;
			width: 100%;
			padding: 6px;
		}
		.inputs-holder {
			display: flex;

			.input {
				margin: 0 10px 10px 0;

				&:last-child {
					margin: 0 0 10px;
				}
			}
		}
	}
}

#places__list {
	list-style: none;
	margin: 0;
	padding: 20px 0 0;
	height: calc(100vh - 108px);
    overflow: auto;

	.place {
		width: 100%;
		margin: 0 0 15px;

		&__name {
			font-weight: 600;
			margin: 0 0 10px;
		}
		&__description {
			margin: 0 0 10px;
		}
		&__location {
			margin: 0 0 10px;
		}
		&__openHours {
			margin: 0 0 10px;
		}

		&__box {
			padding: 10px;
			margin: 0 10px 10px;
			border: solid 1px $gray-color;
		}

		&__btns {
			margin: 10px -10px -10px;
			display: flex;

			.btn {
				width: 100%;
			}
		}
	}
}

.input {
	border: solid 1px $gray-color;
	font-size: 14px;
}
.textarea {
	border: solid 1px $gray-color;
	min-height: 100px;
	font-size: 14px;
}

.btn {
	cursor: pointer;
	display: block;
	padding: 10px;
	border: solid 1px $gray-color;
	background: transparent;
	transition: all ease .3s;
	color: $white-color;
	font-size: 16px;

	&--add-place {
		background: $primary-color;
		border: solid 1px $primary-color;
		padding: 10px 20px;

		&:hover {
			background: $primary-color;
		}
	}
	&--edit-place {
		background: $secondary-color;
		border: solid 1px $secondary-color;

		&:hover {
			background: $secondary-color;
		}
	}
	&--delete-place {
		background: $warning-color;
		border: solid 1px $warning-color;

		&:hover {
			background: $warning-color;
		}
	}
	&--save {
		margin: 0 auto;
		background:$primary-color;
		border: solid 1px $primary-color;
		padding: 10px 20px;

		&:hover {
			background: $primary-color;
		}
	}
}

.edit-place__box {
	display: none;
}

[data-isdeleted="true"] {
	display: none;
}

.popup {
	display: none;
	
	&--open {
		display: block;
		background: rgba(0, 0, 0, .7);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.places {
		&__form-modal {
			background: $white-color;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: solid 1px $gray-color;
		}
	
		&__form {
			padding: 10px;
		}
	}

	.form__title {
		margin: -10px -10px 10px;
		background: $secondary-color;
		color: $white-color;
	}

	.close-popup {
		position: absolute;
		cursor: pointer;
		top: -30px;
		right: -30px;
		padding: 5px;
		width: 30px;
		height: 30px;
		background: $warning-color;
		border: solid 1px $gray-color;
		border-radius: 50px;

		&:before, 
		&:after {
			content: "";
			display: block;
			height:20px;
			width: 1px;
			background-color: $white-color;
			position: absolute;
			top: 4px;
			left: 13px;
		}

		&:before {
			transform: rotate(45deg);
		}
		
		&:after {
			transform: rotate(-45deg);
		}
	}
}