/* TASK */
h2 {
	margin: 0 0 20px;
	padding: 10px;
	font-style: italic;
	background: #fff8dc;
	text-align: center;
}


$primary-color: #68A691;
$light-color: #9DB4C0;
$warning-color: #694F5D;



/* BASE */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Times New Roman';
	font-size: 16px;
}
h3 {
	margin: 10px 0;
}
p {
	margin: 10px 0;
}
a {
	text-decoration: none;
}
a:hover {
	color: green;
}

.main-text p {
	margin: 0 0 25px;
}

.wrapper {
	display: flex;
	display: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: #ccc; 
}

#map {
	height: 80vh;
}

.map {
	width: 75%;
}

.places {
	width: 25%;
    height: 80vh;
    overflow: auto;

	&__form {
		max-width: 500px;
		margin: 0 auto;

		.input {
			display: block;
			margin: 0 0 10px;
			width: 100%;
			padding: 6px;
		}
		.textarea {
			resize: none;
			width: 100%;
			padding: 6px;
		}
		.inputs-holder {
			display: flex;

			.input {
				margin: 0 10px 10px 0;

				&:last-child {
					margin: 0 0 10px;
				}
			}
		}
	}
}

#places__list { 
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;

	.place {
		width: 100%;
		margin: 0 0 15px;

		&__name {
			font-weight: 600;
			margin: 0 0 10px;
		}
		&__description {
			margin: 0 0 10px;
		}
		&__location {
			margin: 0 0 10px;
		}
		&__openHours {
			margin: 0 0 10px;
		}

		&__box {
			padding: 10px;
			margin: 0 10px 10px;
			border: solid 1px #ccc;
		}

		&__btns {
			margin: 10px -10px -10px;
			display: flex;

			.btn {
				width: 100%;
			}
		}
	}
}

.input {
	border: solid 1px #ccc;
	font-size: 14px;
}
.textarea {
	border: solid 1px #ccc;
	min-height: 100px;
	font-size: 14px;
}

.btn {
	cursor: pointer;
	display: block;
	padding: 10px;
	border: solid 1px #ccc;
	background: transparent;
	transition: all ease .3s;
	color: #fff;
	font-size: 16px;

	&--add-place {
		background: $primary-color;
		border: solid 1px $primary-color;
		padding: 10px 20px;

		&:hover {
			background: $primary-color;
		}
	}
	&--edit-place {
		background: $light-color;
		border: solid 1px $light-color;

		&:hover {
			background: $light-color;
		}
	}
	&--delete-place {
		background: $warning-color;
		border: solid 1px $warning-color;

		&:hover {
			background: $warning-color;
		}
	}
	&--save {
		margin: 0 auto;
		background:$primary-color;
		border: solid 1px $primary-color;
		padding: 10px 20px;

		&:hover {
			background: $primary-color;
		}
	}
}

.edit-place__box {
	display: none;
}

[data-isdeleted="true"] {
	display: none;
}

.popup {
	display: none;
	
	&--open {
		display: block;
		background: rgba(0, 0, 0, .5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.places {
		&__form-modal {
			background: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: solid 1px #ccc;
		}
	
		&__form {
			padding: 10px;
		}
	}

	.form__title {
		margin: -10px -10px 10px;
		background: $light-color;
		color: #fff;
	}

	.close-popup {
		position: absolute;
		cursor: pointer;
		top: -30px;
		right: -30px;
		padding: 5px;
		width: 30px;
		height: 30px;
		background: $warning-color;
		border: solid 1px #ccc;
		border-radius: 50px;

		&:before, 
		&:after {
			content: "";
			display: block;
			height:20px;
			width: 1px;
			background-color: #fff;
			position: absolute;
			top: 4px;
			left: 13px;
		}

		&:before {
			transform: rotate(45deg);
		}
		
		&:after {
			transform: rotate(-45deg);
		}
	}
}