/* TASK */
.task {
  padding: 20px 0;
}

h2 {
  margin: 0 0 20px;
  padding: 10px;
  font-style: italic;
  background: #fff8dc;
  text-align: center;
}

/* BASE */
* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman";
  font-size: 16px;
}

h3 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}

.main-text p {
  margin: 0 0 25px;
}

/* Table Phones */
#table_phones {
  font-size: 14px;
}

#table_phones th,
#table_phones td {
  padding: 10px;
}

#table_phones th:first-child,
#table_phones td:first-child {
  width: 50%;
}

#table_phones th {
  background: #1b4845;
  color: #fff;
  font-size: 20px;
  padding: 0;
}

#table_phones td {
  background: #fff8dc;
}

#table_phones a {
  display: block;
  padding: 10px;
  color: #fff;
  transition: background ease 0.5s;
}

#table_phones a:hover {
  background: #01201e;
}

#map {
  height: 500px;
}

.places__form {
  max-width: 500px;
  margin: 0 auto;
}
.places__form .input {
  display: block;
  margin: 0 0 10px;
  width: 100%;
  padding: 6px;
}
.places__form .textarea {
  resize: none;
  width: 100%;
  padding: 6px;
}
.places__form .inputs-holder {
  display: flex;
}
.places__form .inputs-holder .input {
  margin: 0 10px 10px 0;
}
.places__form .inputs-holder .input:last-child {
  margin: 0 0 10px;
}

#places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#places__list .place {
  width: 33.3%;
  margin: 0 0 15px;
}
#places__list .place__name {
  font-weight: 600;
  margin: 0 0 10px;
}
#places__list .place__description {
  margin: 0 0 10px;
}
#places__list .place__location {
  margin: 0 0 10px;
}
#places__list .place__openHours {
  margin: 0 0 10px;
}
#places__list .place__box {
  padding: 10px;
  margin: 0 10px 10px;
  border: solid 1px #ccc;
}
#places__list .place__btns {
  margin: 10px -10px -10px;
  display: flex;
}
#places__list .place__btns .btn {
  width: 100%;
}

.input {
  border: solid 1px #ccc;
  font-size: 14px;
}

.textarea {
  border: solid 1px #ccc;
  min-height: 100px;
  font-size: 14px;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px;
  border: solid 1px #ccc;
  background: transparent;
  transition: all ease 0.3s;
  color: #fff;
  font-size: 16px;
}
.btn--add-place {
  background: #68A691;
  border: solid 1px #68A691;
  padding: 10px 20px;
}
.btn--add-place:hover {
  background: #68A691;
}
.btn--edit-place {
  background: #9DB4C0;
  border: solid 1px #9DB4C0;
}
.btn--edit-place:hover {
  background: #9DB4C0;
}
.btn--delete-place {
  background: #694F5D;
  border: solid 1px #694F5D;
}
.btn--delete-place:hover {
  background: #694F5D;
}
.btn--save {
  margin: 0 auto;
  background: #68A691;
  border: solid 1px #68A691;
  padding: 10px 20px;
}
.btn--save:hover {
  background: #68A691;
}

.edit-place__box {
  display: none;
}

[data-isdeleted=true] {
  display: none;
}

.popup {
  display: none;
}
.popup--open {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup .places__form {
  padding: 10px;
}
.popup .places__form-modal {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=main.css.map */
