@charset "UTF-8";
/* Icomoon Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon/icomoon.eot?ragw5j");
  src: url("/fonts/icomoon/icomoon.eot?ragw5j#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?ragw5j") format("truetype"), url("/fonts/icomoon/icomoon.woff?ragw5j") format("woff"), url("/fonts/icomoon/icomoon.svg?ragw5j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-pen-angled:before {
  content: "";
}

.icon-search1:before {
  content: "";
}

.icon-add:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-trash-2:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-trash-o:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-filter1:before {
  content: "";
}

/* Variabes */
/* Fonts */
/* Media Queries */
/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  display: flex;
  display: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #ccc;
  height: 100vh;
}

/* Title */
.title--main {
  margin: 0;
  padding: 10px;
  font-style: italic;
  background: #fff8dc;
  text-align: center;
}

/* Map */
#map {
  height: calc(100vh - 108px);
}

.map {
  width: 75%;
}
@media (max-width: 992px) {
  .map {
    width: 60%;
  }
}

/* Places */
.places {
  width: 25%;
  background: #fff;
}
@media (max-width: 992px) {
  .places {
    width: 40%;
  }
}
.places .btn--add-place {
  width: 100%;
  margin: 0 auto;
}
.places__form {
  max-width: 500px;
  margin: 0 auto;
}
.places__form .input {
  display: block;
  margin: 0 0 10px;
  width: 100%;
  padding: 6px;
}
.places__form .textarea {
  resize: none;
  width: 100%;
  padding: 6px;
}
.places__form .inputs-holder {
  display: flex;
}
.places__form .inputs-holder .input {
  margin: 0 10px 10px 0;
}
.places__form .inputs-holder .input:last-child {
  margin: 0 0 10px;
}

#places__list {
  list-style: none;
  margin: 0;
  padding: 20px 0 0;
  height: calc(100vh - 108px);
  overflow: auto;
}
#places__list .place {
  width: 100%;
  margin: 0 0 15px;
}
#places__list .place__name {
  font-weight: 600;
  margin: 0 0 10px;
}
#places__list .place__description {
  margin: 0 0 10px;
}
#places__list .place__location {
  margin: 0 0 10px;
}
#places__list .place__openHours {
  margin: 0 0 10px;
}
#places__list .place__box {
  padding: 10px;
  margin: 0 10px 10px;
  border: solid 1px #ccc;
}
@media (max-width: 768px) {
  #places__list .place__box .btn {
    padding: 5px;
  }
}
#places__list .place__box .icon {
  pointer-events: none;
}
@media (max-width: 768px) {
  #places__list .place__box .icon {
    font-size: 20px;
  }
}
#places__list .place__box .btn-text {
  pointer-events: none;
}
@media (max-width: 768px) {
  #places__list .place__box .btn-text {
    display: none;
  }
}
#places__list .place__btns {
  margin: 10px -10px -10px;
  display: flex;
}
#places__list .place__btns .btn {
  width: 100%;
}

.input {
  border: solid 1px #ccc;
  font-size: 14px;
}

.textarea {
  border: solid 1px #ccc;
  min-height: 100px;
  font-size: 14px;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px;
  border: solid 1px #ccc;
  background: transparent;
  transition: all ease 0.3s;
  color: #fff;
  font-size: 16px;
}
.btn--add-place {
  background: #68A691;
  border: solid 1px #68A691;
  padding: 10px 20px;
}
.btn--add-place:hover {
  background: #68A691;
}
.btn--edit-place {
  background: #9DB4C0;
  border: solid 1px #9DB4C0;
}
.btn--edit-place:hover {
  background: #9DB4C0;
}
.btn--delete-place {
  background: #694F5D;
  border: solid 1px #694F5D;
}
.btn--delete-place:hover {
  background: #694F5D;
}
.btn--save {
  margin: 0 auto;
  background: #68A691;
  border: solid 1px #68A691;
  padding: 10px 20px;
}
.btn--save:hover {
  background: #68A691;
}

.edit-place__box {
  display: none;
}

[data-isdeleted=true] {
  display: none;
}

.popup {
  display: none;
}
.popup--open {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup .places__form-modal {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #ccc;
}
.popup .places__form {
  padding: 10px;
}
.popup .form__title {
  margin: -10px -10px 10px;
  background: #9DB4C0;
  color: #fff;
}
.popup .close-popup {
  position: absolute;
  cursor: pointer;
  top: -30px;
  right: -30px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: #694F5D;
  border: solid 1px #ccc;
  border-radius: 50px;
}
.popup .close-popup:before, .popup .close-popup:after {
  content: "";
  display: block;
  height: 20px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 13px;
}
.popup .close-popup:before {
  transform: rotate(45deg);
}
.popup .close-popup:after {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=main.css.map */
